@font-face {
  font-family: "cross";
  src: url('../fonts/iconfont.eot') format('embedded-opentype'),
  	   url('../fonts/iconfont.svg') format('svg'), 
  	   url('../fonts/iconfont.woff') format('woff'), 
  	   url('../fonts/iconfont.ttf') format('truetype');
}

@font-face {
  font-family: "back";
  src: url('../fonts/back.eot') format('embedded-opentype'),
  	   url('../fonts/back.svg') format('svg'), 
  	   url('../fonts/back.woff') format('woff'), 
  	   url('../fonts/back.ttf') format('truetype');
}