/*----------------all----------------*/
$all-bg-color: #fff;

$normal-color: #ff1f1f;
$hover-color: #00a148;
/*----------------header----------------*/
$header-h: 50px;
$icon-img-h: 35px;

$header-border-color: #dddddd;

/*----------------single----------------*/

// left
$single-h: 500px;
$ol-h: 180px;
$icon-img-w: 40px;
$icon-img-h: 40px;
$icon-circle-w: 20px;
$icon-circle-h: 20px;
$voice-img-w: 18px;
$voice-img-h: 18px;
$voice-range-w: 1%;
$voice-range-h: 40px;
$progress-bar-h: 4px;

$range-bg-color: #bfbfbf;
$range-color: #ff2222;

//right
$cover-img-w: 180px;
$cover-img-h: 180px;
/*----------------list----------------*/
$li-pad: 1%;
$cross-w: 18px;
$cross-h: 18px;
$back-w: 4%;

$li-bt-color: #dedede;
$cross-color: #c1c1c1;
$cross-color2: #343434;

$current-item-color: #ff1616;
